<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Login</title>

		<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet" />
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.9.2.custom.min.js" ></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	</head>
	<body class="body">
		<div class="container">
			<div class="row">
				<div style="margin-left: 150px; margin-top: 150px;">
					<form method="POST" class="form-horizontal">{% csrf_token %}
						<div style="color:red"><span id="non_field_errors" >{{ form.non_field_errors }}</span></div>
					
						{% for field in form.visible_fields %}
						<div class="control-group {% if field.errors %}error{% endif %}">
							 <label class="control-label">{{ field.label }}</label>
							<div class="controls">
								{{ field }}
								<span class="help-inline">{{ field.errors }}</span>
							</div>
						</div>
						{% endfor %}
						
						{% for field in form.hidden_fields %}
							{{ field }}
						{% endfor %}
						
						<div class="control-group">
					    	<div class="controls">
								<input type='submit' class="btn btn-success" value = "Login"/>
								<a href="{% url 'home' %}" class="btn">Back</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
